<div id="credentials" class="tabs_screen">
  <br /><br /><br />
  
  <!-- Tabs -->
  <div class="center-align"><h3>Credentials</h3></div>
  <div class="row">
    <div class="container">
      <div class="col s6 offset-s3">
        <%for(let credential of credentials) {%>
        <a class="modal-trigger" href="#<%=credential.referent%>">
          <div class="card z-depth-4">
            <div class="card-content ">
              <div class="row">
                <div class="col s3">
                  <img src="images/govid.png" style="width:90%" />
                </div>
                <div class="col s9 l9 m9">
                  <h4 class="black-text">
                    <%=credential.schema_id.split(':')[2]%>
                    <%=credential.schema_id.split(':')[3]%>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </a>
        <%}%>
      </div>
    </div>
    <br /><br />
  </div>


  <!-- Modals -->
  <%for(let credential of credentials) {%>
  <div id="<%=credential.referent%>" class="modal">
    <div class="modal-content center-align">
      <img width="320" height="320" src="<%=srcId%>" />
      <h4>
        <%=credential.schema_id.split(':')[2]%>
        <%=credential.schema_id.split(':')[3]%>
      </h4>
      <h5 style="text-align: left">Details</h5>
      <%for(let attr of Object.keys(credential.attrs).sort()) {%>
      <h5 style="text-align: left; font-weight: 200">
        <b><%=attr%>:</b> <%=credential.attrs[attr]%>
      </h5>
      <%}%>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"
          >Done</a
        >
      </div>
    </div>
  </div>
    <%}%>
 
</div>
